* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #373737;
}
.timeline {
  width: 640px;
}
.timeline__sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.timeline__sort-button {
  user-select: none;
  transition: background-color 0.3s;
  background-color: #eee;
  flex: 1;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
}
.timeline__sort-button:hover {
  background-color: #d8d8d8;
}
.timeline__sort-button:active {
  background-color: #b3c6d8;
}
.timeline__sort-button.active {
  background-color: #d8d8d8;
  position: relative;
}
.timeline__sort-button + .timeline__sort-button {
  border-left: 1px solid #ddd;
}
.timeline section {
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.timeline section + section {
  border-top: 1px solid #ddd;
}
.timeline section:hover {
  background-color: #eee;
}
.timeline section.active .item__extra {
  display: block;
}
.timeline section.active .title {
  white-space: normal;
}
.timeline .title {
  font-size: 1.3rem;
  font-family: Arial;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 440px;
}
.timeline .item__extra {
  display: none;
  transition: display 1s;
}
.timeline .item__extra .buttons {
  text-align: right;
}
.timeline .item__basic {
  display: flex;
  justify-content: space-between;
}
.timeline .button {
  line-height: 34px;
  padding: 0 20px;
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  background-color: #fff;
  transition: color, background-color 0.3s;
}
.timeline .transaction__amount {
  font-weight: 900;
}
.timeline .transaction__amount-expense {
  color: #00bd3b;
}
.timeline .transaction__amount-income {
  color: #ff6b64;
}
.timeline .transaction .amount__currency {
  color: #373737;
  padding-left: 5px;
}
.timeline .transaction__extra-delete {
  color: #f00;
}
.timeline .transaction__extra-delete:hover {
  background-color: #ff6b64;
  color: #373737;
}
.timeline .news--introduced {
  background-color: #e2f1ff;
}
.timeline .news__extra-introduced {
  color: #08af00;
}
.timeline .news__extra-introduced:hover {
  background-color: #90ff8d;
  color: #373737;
}
