$timelineWidth = 640px
$timelineTitleMaxWidth = $timelineWidth - 200
$color = #373737
$border-between-sections = 1px solid #dddddd

*
  margin 0
  padding 0
  box-sizing border-box

html
  font-family Helvetica, Arial, sans-serif;
  font-size 12pt
  color $color

.timeline
  width $timelineWidth
  &__sort
    display flex
    flex-direction row
    justify-content space-around
    &-button
      user-select none
      transition background-color 0.3s
      background-color #eeeeee
      flex 1
      text-align center
      line-height 34px
      cursor pointer
      &:hover
        background-color #d8d8d8
      &:active
        background-color #b3c6d8
      &.active
        background-color #d8d8d8
        position relative
    &-button + &-button
      border-left 1px solid #dddddd

  & section
    border-radius 2px
    padding 10px
    cursor pointer
    transition background-color 0.2s

    & + section
      border-top $border-between-sections

    &:hover
      background-color #eeeeee

    &.active .item__extra
      display block

    &.active .title
      white-space normal

  .title
    font-size 1.3rem
    font-family Arial
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    max-width $timelineTitleMaxWidth

  .item__extra
    display none
    transition display 1s
    .buttons
      text-align right

  .item__basic
    display flex
    justify-content space-between

  .button
    line-height 34px
    padding 0 20px
    display inline-block
    border 1px solid
    border-radius 2px
    background-color #ffffff
    transition color,background-color 0.3s

  .transaction
    &__amount
      font-weight 900
      &-expense
        color #00bd3b
      &-income
        color #ff6b64
    .amount__currency
      color $color
      padding-left 5px
    &__extra-delete
      color #ff0000
      &:hover
        background-color #ff6b64
        color $color

  .news
    &--introduced
      background-color: #e2f1ff;
    &__extra-introduced
      color #08af00
      &:hover
        background-color #90ff8d
        color $color

